{% extends 'base.html' %}

{% block title %}Day schedule for{% endblock %}
{% block sidebar_day %}active{% endblock %}

{% block content %}
<div class="card-group">
  {% for task in daytasks %}
  <div class="card {% if task.finished_at %}bg-success{% endif %}">
      <div class="card-header fw-lighter text-muted">
        <small>{{ task.id }}</small> {%if task.isrepeat %}<span class="badge bg-secondary text-uppercase">repeating</span>{% endif %}
      </div>
      <div class="card-body">
        <h5 class="card-title">
          {{ task.name }}
        </h5>
        <p class="card-text">
          {{ task.descr }}
        </p>
      </div>
      <div class="card-footer">
        {% if not task.finished_at %}
          <div class="d-grid gap-2">
          <a class="btn btn-info btn-sm text-decoration-none font-monospace fw-bolder m-1" href="{{ url_for('mark_done', tid=task.id) }}">{{ _('Mark task as done') }}</a>
          </div>
        {% else %}
          <div class="d-grid gap-2">
          <a class="btn btn-info btn-sm text-decoration-none font-monospace fw-bolder m-1" href="{{ url_for('mark_done', tid=task.id, tdone=0) }}">{{ _('Mark task as NOT done') }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  {%endfor %}
</div>
{% endblock %}
