{% extends 'base.html' %}

{% block title %}{{ title_header }}{% endblock %}
{% block sidebar_day %}active{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for task in tasks %}
  <div class="col"><div class="card h-100">
      <div class="card-header p-0 m-0 d-md-flex justify-content-md-end">
        <small class="fw-lighter text-muted text-truncate">{{ task.id }}</small>
        {%if task.isrepeat %}
          <a href="{{ url_for('rtask', tid=task.isrepeat) }}" class="badge bg-secondary text-uppercase text-decoration-none">repeating</a>
        {% endif %}
        {% if task.planned_for %}
          <a href="{{ url_for('stask', tid=task.id) }}" class="badge bg-info text-uppercase text-decoration-none">edit</a>
        {% else %}
          <a href="{{ url_for('rtask', tid=task.id) }}" class="badge bg-info text-uppercase text-decoration-none">edit</a>
        {% endif %}
      </div>
      <div class="card-body {% if task.finished_at %}bg-success{% endif %}">
        <h5 class="card-title">
          {{ task.name }}
        </h5>
        <p class="card-text">
{% filter markdown %}
{{ task.descr }}
{% endfilter %}
        </p>
        {%if task.planned_for < today %}
        <p class="bg-warning text-dark text-center">Planned for: {{ task.planned_for.strftime('%Y-%m-%d') }}</p>
        {% endif %}
      </div>
      <div class="card-footer p-0 m-0">
        {% if task.planned_for %}
          {% if not task.finished_at %}
            <div class="d-grid gap-2 p-0">
              <a class="btn btn-info btn-sm text-decoration-none p-0 m-0" href="{{ url_for('mark_done', tid=task.id, tdone=1) }}">{{ _('Mark task as done') }}</a>
            </div>
          {% else %}
            <div class="d-grid gap-2">
              <a class="btn btn-info btn-sm text-decoration-none p-0 m-0" href="{{ url_for('mark_done', tid=task.id, tdone=0) }}">{{ _('Mark task as NOT done') }}</a>
            </div>
          {% endif %}
        {% else %}
          Looping to: {{ task.finished_at}}
          {% if task.weekschedule %}
            <br/>Week schedule: {{ task.weekschedule }}
          {% endif %}
          {% if task.monthschedule %}
            <br/>Month schedule: {{ task.monthschedule }}
          {% endif %}
        {% endif %}
      </div>
  </div></div>
  {%endfor %}
</div>
{% endblock %}
